<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">

<dom-module id="game-view">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <app-route route="{{route}}" pattern="/:page" data="{{routeData}}"></app-route>
        <h3>[[player.nickname]] - [[player.isOnline]]</h3>
    </template>

    <script>
      /**
       * @customElement
       * @polymer
       */
      class GameView extends Polymer.Element {
        static get is() {
          return 'game-view';
        }

        static get observers() {
          return [
            '_validateFocusPage(routeData.page)'
          ];
        }

        static get properties() {
          return {
            players: {
              type: Array,
              value: []
            },
            player: {
              type: Object,
              value: {}
            }
          };
        }

        _validateFocusPage(page) {
          if(page !== 'game'){
            window.history.pushState({}, null, '/login');
          }
        }
      }

      window.customElements.define(GameView.is, GameView);
    </script>
</dom-module>
